*.log
*.maintenance
.htaccess
sitemap.xml
sitemap.xml.gz
log
log/*
/log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.idea
*.sublime-project
*.sublime-workspace
.phpintel
*.codekit
*.codekit3
/vendor
composer.json
composer.lock
htdocs/wp-content/themes/sceleton/codekit-cache
htdocs/wp-content/advanced-cache.php
htdocs/wp-content/backup-db/
htdocs/wp-content/backups/
htdocs/wp-content/blogs.dir/
htdocs/wp-content/cache/
htdocs/wp-content/upgrade/
htdocs/wp-content/uploads/
htdocs/wp-content/wp-cache-config.php
htdocs/readme.html
htdocs/license.txt
