/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentyfifteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
/*
.site {
    margin: 0 auto;
    max-width: 1503px;
}

.site-main {
    background: grey; 
}
*/
@media screen and (min-width: 59.6875em){
	.sidebar {
	    float: left;
	    margin-right: -100%;    
		padding: 10px;
	    max-width: 410px;
	    position: fixed;
	    width: 29.4118%;
		background: #fff;
	}
}

@media screen and (min-width: 59.6875em){
	.site {
	    margin: 0 auto;
	    max-width: 1503px;
	}
}

.site-main {
    padding: 0px 0px;
}

.hero_img{
	width: 100%;
	position: relative;
}	
.hero_img img{
	height: 790px;
	

}

.site-branding {
    min-height: 0;
    padding: 11px 11px;
    border: 1px solid grey;
    text-align: center;

}

.site-branding:hover{
    min-height: 0;
    padding: 8px 8px;
    border: 6px solid orange;

}



	.hero_text {
	    position: absolute;
	    top: 5%;
	    left: 50%;
	    right: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	    padding: 0 30%;
	    padding: 0 30%;
	    width: 100%;
	    font-family: courier;
	    color: white;
		    	}
	  .hero_text h1 {
		 font-size: 7rem !important;
		 line-height: 1.5;
		 letter-spacing: 0.03rem;
		}
	
		.hero_link {
	    position: absolute;
	    top: 15%;
	    left: 50%;
	    right: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	    padding: 0 30%;
	    padding: 0 30%;
	    width: 100%;
	    font-family: courier;
	    color: white;
		    	}
	  .hero_link {
		 font-size: 3rem !important;
		 line-height: 1.5;
		 letter-spacing: 0.03rem;
		}
		
	
.entry-content, .entry-summary {
    padding: 5% 10% 5%;
}

.hentry {
    padding-top: 0%;
    width: 100%;
}
    
input.footerbutton {
	    background: #fff;
	    color: #000;
}

.hentry, .page-header, .page-content {
    margin: 0 0 100px 0;
}
    
 .result {
     height: 72px;
     width: 100%;
     border: 1px solid #000;
     width: 100%;
}

 .result p {
  /* visibility: hidden;*/
  text-align: center;
}

 .result_hover p {
   visibility: visible;
   text-align: center;
   font-size: 4rem;
}

 .result_hover {
	background-image: url("images/bg1.jpg");
     color: white;
 }	
 
 
 
 /*logga funkar, men använder inte
 
 .logotype{
	display: inline-block;
	width:100%;
	text-align: center;
	
	img {
		max-height: 100%;
	}
}


 .logotype_hover:hover {
     border: 10px solid black;
     width:50%;
     
     	img {
		width: 50%;
	}
 }	
*/

.site-title {
    font-size: 3rem;
    line-height: 1.1667;
    font-family: courier;
}

.site-description {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 5px;
}

/*button footer*/


.divbutton {
    height: 130px;
    background: white;
    color: black;
	border: 1px solid #999;
	padding:6px;
 
}

.mbutton {
    display: none;
    background: white;
    color: black;
    padding: 1px;
    margin: 3px;
}

.mbutton:hover {
    display: none;
    background: white;
    color: orange;
    padding: 1px;
    margin: 3px;
}


.divbutton:hover .mbutton { /* Kom ihåg att lägga till kolon innan hover för att effekten ska synas, alltså :hover*/
   display: inline-block; 
   margin-top:0px;   
   
}

/* menu text in border style */


#content1{
	padding:6px;
	border: 1px solid;
}
#content1 p{
	padding:30px 30px 0px 30px;
	font-size: 1.5rem;
}
.titlebox{
	float:left;
	padding:0 5px;
	margin:-20px 0 0 50px;
	background:#fff;
	font-size: 2rem;
}

hr {
    color: orange;
    border: 3px solid;
}

@media screen and (min-width: 59.6875em){
.site-footer {
    float: none;
    margin: 0 0 0 29.2941%;
    padding: 0;
    width: 100%;
}
}
/*NY KOD*/


.hamburger, .nav.show {
    display: block;
}


.hamburger.hide, .nav {
    display: none;
}

.hamburger {
    color: #000;
}


/* intro images gallery*/

	div#intro {
	    width: 100%;
	    display: inline-block;
	    margin: auto;
	    }
	    
	#intro ul {
	display: inline-block;
	  }
	        
    #intro li {
    list-style: none;
        padding: 2px;
}

