// Grid
$width: 1600;   // Max-width of page wrap
$columns: 12;    // Number of columns, 12 is preferred
$col_margin: 50;  // Margin between columns
$col_width: ($width - ($col_margin * ($columns - 1))) / $columns;
$col_total_width: $col_width + $col_margin;

// Calculate rem values from pixels
$browser-context: 16; // Default browser size of text
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

@function percent($pixels, $context: $browser-context) {
	@return #{$pixels/$context*100%};
}

// Fonts
$font-stack: "proxima-nova", sans-serif;
$heading-stack: "Playfair Display", serif;

// Color
$offblack: #181818;
$darkgrey: #333333;
$white: #FFF;
$pink: #e4a3b7;

// Backgrounds
@mixin background_overlay() {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.55) 52%, rgba(0,0,0,0.25) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.55) 52%,rgba(0,0,0,0.25) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.55) 52%,rgba(0,0,0,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#40000000',GradientType=0 );
}